section.compare-products-section {
	padding: 0 15px;
	margin-bottom: 60px;

	h1 {
		text-align: left;
		margin-bottom: 20px;
	}

	.compare-list {
		display: flex;

		.compare-sidebar {
			width: 20%;

			ul {
				li {
					display: flex;
					align-items: center;
					padding-left: 20px;
					height: 80px;
					background-color: var(--c-light-gray);
					margin: 5px 0;
					border: 2px solid var(--main-blue);
					border-radius: 10px;
				}

				li:nth-child(1) {
					height: 200px;
				}

				li:nth-child(6) {
					height: 300px;
				}
			}
		}
	}
}