/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main colors  */
:root {
  --main-blue: #1D428A;
  --light-main-blu: #0369B6;
  --main-yellow: #F1C400;
  --dark-main-yellow: #d6af00;
  --c-black: #000;
  --c-white: #fff;
  --c-gray: #c4c4c4;
  --c-light-gray: #f4f4f4;
  --c-dark-gray: #858585;
  --c-red: #ff0000;
  --c-dark-red: #9c0500;
  --c-green: #30b034;
}

/* default css */
body {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--c-black);
}

ul {
  list-style: none;
}

/* === MAIN === */
main {
  padding-top: 183px;

  section {
    h1 {
      text-align: center;
      color: var(--main-blue);
      font-size: 1.6rem;
    }
  }
}

/* _____ ProductsList style _____ */
.p-list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;

  .not-found-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 300px;
      margin: auto;
    }
  }
}