/* utility */
.debug {
	border: 1px dashed red;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.section-spacer {
	margin-top: 40px;
	padding-bottom: 40px;
}

.main-gray-bg {
	background-color: #F7F7F7;
}

.radius-100 {
	border-radius: 100px;
}