/* ========== ProductCard style ========== */
.product-card {
	width: calc(100% / 4);

	.card-content {
		height: 410px;
		margin: 10px;
		padding: 25px;
		border: 1px solid var(--c-light-gray);
		cursor: pointer;
		position: relative;

		&:hover {
			box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.1);

			.card-text {
				h6 {
					display: none;
				}

				.card-hover {
					display: block;
					position: absolute;
					top: 90px;
				}
			}
		}

		.compare-btn {
			position: absolute;
			right: 10px;
			top: 10px;
			border: 1px solid var(--main-blue);
			border-radius: 100%;
			color: var(--main-blue);
			background-color: var(--c-white);
			padding: 10px 12px;

			&:hover {
				background-color: var(--main-blue);
				color: var(--c-white);
				border: 1px solid transparent;
			}
		}

		.card-img {
			height: 200px;
			margin-bottom: 10px;
		}

		.card-text {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			text-align: center;
			flex: 1;
			position: relative;

			span {
				font-size: .7rem;
				font-weight: 100;
			}

			h5 {
				margin-top: 10px;
				margin-bottom: auto;
				font-weight: 400;
				font-size: .9rem;
			}

			h6 {
				position: absolute;
				top: 100px;
				left: 50%;
				transform: translateX(-50%);
				font-size: 1.2rem;
				font-weight: 300;
			}

			.card-hover {
				display: none;

				.card-btn {
					border: none;
					width: 180px;
					padding: 7px 15px;
					font-size: .7rem;
				}

				.add-cart-btn {
					background-color: var(--main-yellow);
					margin-bottom: 10px;
				}

				.add-wishlist-btn {
					background-color: var(--c-white);
					border: 1px solid var(--light-main-blu);
					color: var(--light-main-blu);
				}
			}
		}
	}
}