/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main colors  */
:root {
  --main-blue: #1D428A;
  --main-yellow: #F1C400;
}

/* default css */
body {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* utility */
.debug {
  border: 1px dashed red;
}

.debug-c {
  border: 1px dashed green;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* ========== HEADER style ========== */
.lock-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

header {
  ul {
    list-style: none;
    display: flex;
  }

  .top-menu-header {
    line-height: 40px;
    font-size: 14px;
    color: var(--main-blue);
    margin: 0 15px;

    ul {
      li {
        margin-right: 40px;
        cursor: pointer;
      }
    }
  }

  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
    margin-top: 15px;

    .search-bar {
      form {
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        border: 1px solid var(--main-blue);
        border-radius: 100px;
        padding: 3px;

        input {
          width: 300px;
          border: none;
          border-radius: 100px;
          color: var(--main-blue);
          font-size: 14px;
          font-weight: 800;
          outline: none;
          padding-left: 15px;

          &::placeholder {
            color: var(--main-blue);
            font-weight: 800;
            font-size: 14px;
          }

          &:focus {
            &::placeholder {
              color: #858585;
            }
          }
        }

        button {
          border: none;
          border-radius: 100%;
          background-color: #F1C400;
          padding: 6px 7px;

          &:hover {
            background-color: #d6af00;
          }
        }
      }
    }

    .logo {
      width: 320px;
    }

    .user-section {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 346px;

      div {
        margin-left: 40px;
        cursor: pointer;

        i {
          color: var(--main-blue);
          font-size: 16px;
        }
      }

      .user-info {
        border: 4px solid #EDEEEF;
        border-radius: 100%;
        padding: 8px 11px;

        &:hover {
          border-color: #d9d9d9;
        }
      }

      .user-wishlist,
      .user-cart {
        position: relative;
        border-radius: 100%;
        padding: 10px 12px;

        &:hover {
          background-color: #EDEEEF;
        }
      }

      .saved-quantity {
        position: absolute;
        top: -8px;
        right: -8px;
        font-size: 12px;
        background-color: var(--main-yellow);
        padding: 2px 5px;
        border-radius: 100%;
      }
    }
  }

  .main-menu-header {
    color: var(--main-blue);
    font-weight: 700;
    font-size: .9rem;
    margin-top: 25px;
    margin-bottom: 20px;

    ul {
      justify-content: space-between;

      li {
        padding: 0 15px;

        a {
          position: relative;
          display: inline-block;
          color: var(--main-blue);
          text-decoration: none;
          padding-bottom: 7px;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 100%;
            background-color: var(--main-blue);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
          }

          &:hover::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

/* ========== MAIN style ========== */
main {
  margin-top: 182px;

  .home-section {
    margin: 35px auto;
  }

  .homepage-banner {
    img {
      display: block;
      height: 100%;
    }
  }

  section {
    h1 {
      text-align: center;
      color: var(--main-blue);
      font-size: 1.6rem;
    }

    .category-products {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;

      div {
        transition: transform 0.3s ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.06);
        }
      }
    }
  }
}

/* ========== FOOTER style ========== */
footer {
  .footer-bg {
    background-color: #0369B6;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    border-bottom: 1px solid #5A99CD;

    div {
      h4 {
        color: var(--main-yellow);
        font-weight: 500;
        margin-bottom: 20px;
      }

      ul {
        list-style: none;

        li {
          margin-bottom: 3px;

          a {
            color: #E9F1F8;
            font-size: .8rem;
            font-weight: 400;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .footer-logo {
      img {
        display: block;
      }

      div:first-child {
        width: 230px;
        margin-left: 10px;
        margin-bottom: 25px;
      }

      div:last-child {
        width: 90px;
      }
    }

    .footer-agency {
      li:last-child {
        margin-top: 15px;
      }
    }

    .footer-privacy {
      li:nth-child(4) {
        margin: 23px 0;
      }
    }
  }

  .footer-socials {
    display: flex;
    margin-top: 22px;
    padding-bottom: 30px;

    div {
      h5 {
        color: #E9F1F8;
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 0.9rem;
      }
    }

    .f-shop-search {
      width: 40%;

      form {
        display: inline-block;
        background-color: #fff;
        border-radius: 100px;
        padding: 3px;

        input {
          width: 200px;
          margin-right: 3px;
          padding: 8px 15px;
          border: none;
          border-radius: 100px;
          outline: none;
        }

        button {
          border: none;
          padding: 9px 15px;
          border-radius: 100px;
          transition: background-color 0.4s ease;

          &:hover {
            background-color: var(--main-yellow);
          }
        }
      }
    }

    .f-socials {
      width: 30%;

      ul {
        display: flex;
        align-items: center;
        list-style: none;

        li:first-child {
          padding: 10px 14px;
        }

        li {
          cursor: pointer;
          color: #fff;
          margin-right: 26px;
          padding: 10px 12px;
          border-radius: 100%;
          background-color: var(--main-blue);
        }
      }
    }

    .f-app {
      width: 30%;
      padding-left: 50px;

      img {
        cursor: pointer;
        width: 130px;
        margin-right: 15px;
      }
    }
  }

  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    div:first-child {
      width: 50%;
      font-size: .8rem;
      margin-right: 10px;
    }

    div:last-child {
      width: 50%;
      margin-left: 10px;

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;

        li {
          width: 60px;
        }
      }
    }
  }
}